<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes, target-densityDpi=device-dpi"/>

</head>

<body>
<div class="backdrop"></div>
<div class="ui scrolling middle aligned padded grid  container">
    <div class="row">
        <div class="column">
            <div class="ui tablet very padded segment">
                <div class="ui huge header">
                    <i class="flask icon"></i>
                    <div class="content">
                        We zijn momenteel bezig met het updaten van de website.
                        <div class="sub header">Dit neemt meestal niet meer dan een minuutje in beslag.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>