<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            Untitled Document
        {% endblock title %}
    </title>
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static '' %}"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }

        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }

        .main.container {
            margin-top: 7em;
        }

        {#.wireframe {#}
        {#    margin-top: 2em;#}
        {#/}#}

        .ui.footer.segment {
            margin: 5em 0 0;
        }
    </style>
</head>
<body>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="#" class="header item">
            <img class="logo" src="{% static 'Yellenge_logo_no_gradient.svg' %}" alt=""/>
        </a>
        <div class="header item">
            {% if user.is_authenticated %}
                <p> Welkom {{ request.user.username }} </p>
            {% else %}
                <p> Niet ingelogd </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="ui main text container">
    {% block menu %}
    <div class="ui four item menu">
            <a class="item">item 1</a>
            <a class="item">item 2</a>
            <a class="item">item 3</a>
            <a class="active item" href="{% url 'logout' %}?next=/">Log out</a>
        </div>
     {% endblock %}
    {% block content %}{% endblock %}
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        &nbsp;
    </div>
</div>
</body>
</html>
