{% extends 'base.html' %}

{% block title %}Overzicht Verlofsaldo{% endblock %}


{% block content %}
    <h1 class="ui center aligned header">Overzicht Verlofsaldo</h1>
    <a class=" ui blue button" href="{% url 'admin-entitlement-create' user_id=user_id %}">Voeg verlofsaldo voor een nieuw jaar toe</a>
    <a class=" ui blue button" href="{% url 'admin-leaveregistration-create' user_id=user_id %}">Voeg opgenomen uren toe</a>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Jaar</th>
            <th>Verlofsaldo</th>
            <th>Opgenomen uren</th>
            <th>Verlofuren over</th>
            <th>Verlofsaldo aanpassen</th>
            <th>Verlofsaldo verwijderen</th>
            <th>Verlofuren bekijken</th>
        </thead>
        <tbody>
        {% for entitlement in all_entitlements %}
            <tr>
                <td>{{ entitlement.user }} </td>
                <td>{{ entitlement.year }}</td>
                <td>{{ entitlement.leave_hours }}</td>
                <td>{{ entitlement.get_used_hours }}</td>
                <td>{{ entitlement.get_remainder_hours }}</td>
                <td><a class="ui positive button" href="{% url 'admin-entitlement-update' pk=entitlement.id %}">Aanpassen</a></td>
                <td><a class="ui negative button" href="{% url 'admin-entitlement-delete' pk=entitlement.id %}">Verwijderen</a></td>
                <td><a class="ui button" href="{%  url 'admin-entitlement-detail' user_id=entitlement.user_id year=entitlement.year %}">Overzicht opgenomen verlofuren</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}