{% extends 'base.html' %}

{% block title %}Overzicht opgenomen of ingeplande Verlofuren{% endblock %}

{% block js %}
    <script type="application/javascript">
        $('.ui.dropdown').dropdown();
    </script>
{% endblock %}

{% block content %}

    <div class="ui selection dropdown">
        <input type="hidden" name="jaar">
        <i class="dropdown icon"></i>
        <div class="default text">Jaar</div>
        <div class="menu">
            {% for entitlement in all_entitlements %}
                <a class="item" href="{% url 'entitlement-detail' year=entitlement.year %}"> {{ entitlement.year }} </a>
            {% endfor %}
        </div>
    </div>


    <table class="ui definition table">
        <tbody>
        <tr>
            <td class="two wide column">Naam</td>
            <td> {{ entitlement.user }} </td>
        </tr>
        <tr>
            <td>Jaar</td>
            <td>{{ entitlement.year }}</td>
        </tr>
        <tr>
            <td>Verlofsaldo</td>
            <td>{{ entitlement.leave_hours }}</td>
        </tr>
        <tr>
            <td>Gebruikte Uren</td>
            <td>{{ entitlement.get_used_hours }}</td>
        </tr>
        <tr>
            <td>Verlofuren over</td>
            <td><a class="ui {{ entitlement.get_color }} large label">{{ entitlement.get_remainder_hours }}</a></td>
        </tr>
        </tbody>
    </table>

    <h1 class="ui center aligned header">Opgenomen of ingepland verlof</h1>

    <a class=" ui blue button" href="{% url 'leave-registration-create' %}">Verlof toevoegen</a>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Van datum</th>
            <th>Tot datum</th>
            <th>Aantal verlofuren</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>
        <tbody>
        {% for leave in all_leave_registrations %}
            <tr>
                <td>{{ leave.from_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ leave.end_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ leave.amount_of_hours }}</td>
                <td>
                    <a class="ui button" href="{% url 'leave-registration-update' pk=leave.id %}">Aanpassen</a>
                </td>
                <td>
                    <a class="ui negative button"
                       href="{% url 'leave-registration-delete' pk=leave.id %}">Verwijderen</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
