{% extends 'base.html' %}

{% block title %}Overzicht Verlofsaldo{% endblock %}


{% block content %}
    <h1 class="ui center aligned header">Overzicht Verlofsaldo</h1>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Jaar</th>
            <th>Verlofsaldo</th>
            <th>Opgenomen uren</th>
            <th>Verlofuren over</th>
        </tr>
        </thead>
        <tbody>
        {% for entitlement in all_entitlements %}
            <tr>
                <td>{{ entitlement.user }} </td>
                <td>{{ entitlement.year }}</td>
                <td>{{ entitlement.leave_hours }}</td>
                <td>{{ entitlement.get_used_hours }}</td>
                <td>{{ entitlement.get_remainder_hours }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
