{% extends 'base.html' %}

{% block title %}Verlofuren{% endblock %}

{% block content %}
    <h1 align='center'>Verlofuren</h1>


{#    example of a dropdown Menu.#}

    <label>
        <select class="ui dropdown">
            <option value="">Jaar</option>
            <option value="1">2019</option>
            <option value="0">2018</option>
        </select>
    </label>


    {#    example of a dropdown Menu.#}
    <div class="ui selection dropdown">
        <input type="hidden" name="jaar">
        <i class="dropdown icon"></i>
        <div class="default text">Jaar</div>
        <div class="menu">
            <div class="item" data-value="1">Male</div>
            <div class="item" data-value="0">Female</div>
        </div>
    </div>

{#    example of a table for the entitlement#}
    <table class="ui definition table">
        <tbody>
        {% for entitlement in all_entitlements %}
            <tr>
                <td class="two wide column">Naam</td>
                <td> {{ entitlement.user }} </td>
            </tr>
            <tr>
                <td>Jaar</td>
                <td>{{ entitlement.year }}</td>
            </tr>
            <tr>
                <td>Verlofuren</td>
                <td>{{ entitlement.leave_hours }}</td>
            </tr>
            <tr>
                <td>Gebruikte Uren</td>
                <td>{{ used_leave_hours }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Jaar</th>
            <th>Verlofuren</th>
        </thead>
        <tbody>
        <tr>
            {% for entitlement in all_entitlements %}
                <td>{{ entitlement.user }}</td>
                <td>{{ entitlement.year }}</td>
                <td>{{ entitlement.leave_hours }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1 align='center'>Opgenomen of ingeplande verlofuren</h1>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>van datum</th>
            <th>tot datum</th>
            <th>aantal verlofuren</th>
        </thead>
        <tbody>
        <tr>
            {% for leave in all_leave_registrations %}
                <td>{{ leave.from_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ leave.end_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ leave.amount_of_hours }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

