{% extends 'base.html' %}

{% block title %}De Yellenge Verlof Uren Website :D{% endblock %}

{% block menu %} {% endblock %}

{% block content %}

    <h1 class="ui center aligned header">De Yellenge Verlof Uren Website :D</h1>

    <a class="massive fluid ui green basic button" href="{% url 'entitlement-detail' year=2019 %}"><i class ="icon user"></i>
            Verlofoverzicht
        </a>
<a class="massive fluid ui red  basic button" href="{% url 'logout' %}?next=/"><i class ="icon user"></i>
            Log out
        </a>
{% endblock %}
