{% extends 'base.html' %}
{% load subtract %}

{% block title %}Overzicht gebruikers{% endblock %}


{% block content %}
    <h1 class="ui center aligned header">
        Overzicht gebruikers
    </h1>
     <a class=" ui blue button" href="{% url 'user-create' %}">Voeg nieuwe gebruiker toe</a>
    <a class=" ui purple button" href="{% url 'admin-users-entitlement-list' year=default_entitlement.year %}">Verlofsaldo gebruikers per jaar</a>


    <table class="ui celled table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Gebruikersnaam</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>E-mail adres</th>
                <th>Laatste Inlog</th>
                <th>Gebruiker aanpassen</th>
                <th>Gebruiker verwijderen</th>
                <th>Verlofuren bekijken</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id}} </td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.last_login|date:"SHORT_DATE_FORMAT" }}</td>
                <td>
                    <a class="ui positive button" href="{% url 'user-update' pk=user.id %}">Aanpassen</a>
                </td>
                <td>
                    <a class="ui negative button"
                       href="{% url 'user-delete' pk=user.id %}">Verwijderen</a>
                </td>
                <td>
                    <a class="ui button" href="{% url 'admin-entitlement-list' user_id=user.id  %}">Overzicht Verlofuren</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}